!!!5
:ruby 
  apilist = [   
    {:url=>"actZoom",:params=>["in","1shot"]},
    {:url=>"actZoom",:params=>["out","1shot"]},
    {:url=>"getShootMode",:params=>[]},
    {:url=>"getSupportedShootMode",:params=>[]},
    {:url=>"getAvailableShootMode",:params=>[]},
    {:url=>"getEvent",:params=>[true]},
    {:url=>"getApplicationInfo",:params=>[]},
    {:url=>"getVersions",:params=>[]},
    {:url=>"getMethodTypes",:params=>[]},
    {:url=>"getPostviewImageSize",:params=>[]},
    {:url=>"getAvailablePostviewImageSize",:params=>[]},
    {:url=>"getSupportedPostviewImageSize",:params=>[]},
    {:url=>"getSelfTimer",:params=>[]},
    {:url=>"getSupportedSelfTimer",:params=>[]},
    {:url=>"getAvailableSelfTimer",:params=>[]}
  ]
%html
  %head
    = javascript_include_tag 'jquery', 'camera'
  %body(onload="main()")
    %ul
      - apilist.each do |api|
        %form
          - if api[:params] == []
            %input(class="api" type="button" href="#{"/camera/api/"+api[:url]}" value="#{api[:url]}")
          - else 
            %input(class="api" type="button" href="#{"/camera/api/"+api[:url]+"?params=" + api[:params].to_s}" value="#{api[:url]}")
    %div#log
